/* WordPress Core styles */
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;text-align:center;padding:5px 3px 10px}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;max-width:98.5%;width:auto;margin:0;padding:0}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.alignnone,a img.alignnone,.wp-caption.alignnone,.wp-caption.alignleft{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter,.aligncenter{display:block;margin:5px auto}
.alignright,a img.alignright{float:right;margin:5px 0 20px 20px}
.alignleft,a img.alignleft{float:left;margin:5px 20px 20px 0}

/*Padding*/

.nopadding{
  padding:0;
}
.padding10{
  padding: 10px;
}
.padding15{
  padding:15px;
}
.padding20{
  padding: 20px;
}
.padding25{
  padding: 20px;
}
.padding30{
  padding: 30px;
}
.padding50{
  padding:50px;
}
.paddingtop10{
  padding-top: 10px;
}
.paddingtop15{
  padding-top: 15px;
}
.paddingtop20{
  padding-top: 20px;
}
.paddingtop25{
  padding-top: 25px;
}
.paddingtop30{
  padding-top: 30px;
}
.paddingtop35{
  padding-top: 35px;
}
.paddingtop40{
  padding-top: 40px;
}
.paddingtop45{
  padding-top: 45px;
}
.paddingtop50{
  padding-top: 50px;
}
.paddingtop55{
  padding-top: 55px;
}
.paddingtop60{
  padding-top: 60px;
}
.paddingbottom10{
  padding-bottom: 10px;
}
.paddingbottom15{
  padding-bottom: 15px;
}
.paddingbottom20{
  padding-bottom: 20px;
}
.paddingbottom25{
  padding-bottom: 25px;
}
.paddingbottom30{
  padding-bottom: 30px;
}
.paddingbottom35{
  padding-bottom: 35px;
}
.paddingbottom40{
  padding-bottom: 40px;
}
.paddingbottom45{
  padding-bottom: 45px;
}
.paddingbottom50{
  padding-bottom: 50px;
}
.paddingbottom55{
  padding-bottom: 55px;
}
.paddingbottom60{
  padding-bottom: 60px;
}
.paddingright20{
  padding-right: 20px;
}

/*margin*/
.nomargin{
  margin: 0;
}

.margintop0{
  margin-top: 0;
}
.margintop10{
  margin-top: 10px;
}
.margintop15{
  margin-top: 15px;
}
.margintop20{
  margin-top: 20px;
}
.margintop25{
  margin-top: 25px;
}
.margintop30{
  margin-top: 30px;
}
.margintop35{
  margin-top: 35px;
}
.margintop40{
  margin-top: 40px;
}
.margintop45{
  margin-top: 45px;
}
.margintop50{
  margin-top: 50px;
}
.margintop55{
  margin-top: 55px;
}
.margintop60{
  margin-top: 60px;
}
.margintop70{
  margin-top: 70px;
}
.margintop100{
  margin-top: 100px;
}
.marginbottom10{
  margin-bottom: 10px;
}
.marginbottom15{
  margin-bottom: 15px;
}
.marginbottom20{
  margin-bottom: 20px;
}
.marginbottom25{
  margin-bottom: 25px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.marginbottom35{
  margin-bottom: 35px;
}
.marginbottom40{
  margin-bottom: 40px;
}
.marginbottom45{
  margin-bottom: 45px;
}
.marginbottom50{
  margin-bottom: 50px;
}
.marginbottom55{
  margin-bottom: 55px;
}
.marginbottom60{
  margin-bottom: 60px;
}
.marginright10{
  margin-right: 10px;
}
.margin12{
  margin: 0 12px;
}

.imgcenter{
  top: 0;
  left: 0;
  margin:auto;
}
.width100{
  width: 100%;
}

@font-face {
  font-family:'Zawgyi-One';
  src: url('../fonts/zawgyi.ttf')format("truetype"); 
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; 
}

body{
  color: #282828;
  font-size: 14px;
	font-family: 'Montserrat', sans-serif,'Zawgyi-One';
	background: url(../images/main_pattern.png)repeat;
}
p{
  color: #282828;
  font-size: 14px;
  font-weight: 400;
	margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif,'Zawgyi-One';
}
ul {
  color: #282828;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif,'Zawgyi-One';
  list-style-position: inside;
}
h2 {
  color: #205275;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif,'Zawgyi-One';
}
h3 {
  color: #205275;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif,'Zawgyi-One';
}
h4 {
  color: #205275;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif,'Zawgyi-One';
}
h5 {
  color: #205275;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif,'Zawgyi-One';
}
h6 {
  color: #205275;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif,'Zawgyi-One';
}
#header{
	min-height:140px;
	font-family: 'Roboto Condensed';
	background-repeat:repeat;
  background-position:250px -10px;
  position: relative;
}
#header:after{
    background-image: url(../images/menu_brush.png);
    background-repeat: repeat-x;
    width: 100%;
    content: '';
    background-color: transparent;
    position: absolute;
    bottom: -70px;
    height: 70px;
    z-index: 16;
    display: block;
    overflow: hidden;
}
#main{
	/*background: #e6e5ed;*/
}
#content{
}
#sidebar{
}
#footer{
	min-height:120px;
  margin-bottom: 20px;
  color: #2c2c2c;
  font-weight: bold;
	/*background: #e6e5ed;*/
}
.aligncenter{
	text-align: center;
}
.colorblue{
  color: #2980b9;
}

.banner{
  min-height:160px;
  background: linear-gradient(to right, #00d39f 0%, #009ece 25%, #156396 75%, #2c3e50 100%);
}
/*
 *******************
 * = Header
 *******************
*/

.navbar-nav>li>a{
	text-transform: uppercase;
  padding: 20px 35px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar-nav>li>a:hover{
  background: url(../images/menu_hover.png)no-repeat center;
}
.current-menu-item {
  background: url(../images/menu_hover.png)no-repeat center; 
}
.slider{
  position: relative;
  display: block;
}
.slider img{
	width:100%;
}
.sg_img{
  border: 1px;
  border-color: #000;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 35px 20px;
  border-radius: 5px;
  background: #fff; 
  margin-bottom: 35px;
}
.dtls-li:before{
  content: '-';
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dtls-li{
  width: 50%;
  padding: 0 15px;
  font-size: 13px;
  line-height: 20px;
  position: relative;
}

.dtls-list{
  list-style: none;
}
/*
 *******************
 * = Front Page
 *******************
*/
h2.underline{
  color: #444;
  font-weight: 400;
  border-bottom: 2px solid #ccc;
  position: relative;
  text-transform: uppercase;
  font-family: 'Arbutus Slab';
}
h2.underline:after{
    content: '';
    height: 2px;
    background-color: #2980b9;
    position: absolute;
    bottom: -2px;
    width: 12%;
    left: 4%;
}
h2.categorybtmline{
  position: relative;
  font-family: 'Arbutus Slab';
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: -2px 0px 6px #000;
}
h2.categorybtmline:after{
    content: '';
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 20%;
    left: 40%;
}
.subtitle{
  padding-bottom: 14px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.service{
  display: inline-block;
  margin-bottom: 30px;
}
.service-left{
  display: inline-block;
  margin-right: 20px;
  float: left;
}
.readmore{
  display: inline-block;
  padding: 20px 0px;
  background: url(../images/menu_hover.png)no-repeat center;
}
.readmore a{
  text-decoration: none;
}
.col-five{
	width: 20%;
	float: left;
}
#category{
  background: url(../images/bluepanel.jpg)no-repeat center; 
  min-height: 595px;
  background-size: cover;
}
.catetitle{
  background:#2980b9;
  padding: 40px 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.catereadmore{
  display: inline-block;
  padding: 20px 0px;
  background: url(../images/menu_hover.png)no-repeat center;
}
.catereadmore a{
  color: #fff;
  text-decoration: none;
}
.catereadmore a:hover {
  color: #7ab4e9;
}
  
#bestitem{
  background: url(../images/dots_pattern.png)repeat,url(../images/lines.png)no-repeat;
  background-position: center, center top;
  background-color: #fff;
  min-height: 510px;
}
.categorywrap .zoomwrap{
  position: relative;
}
.categorywrap .zoomwrap i{
    position: absolute;
    bottom: 40px;
    background: #2c3e50;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    padding: 9px;
    opacity: 0;
    transition:all 0.8s;
}
.categorywrap:hover .zoomwrap i{
  opacity: 1;
  bottom: -14px;
}
.categorywrap:hover .catetitle{
  background-color: #2c3e50;
  transition:all 0.6s;
}
.categorywrap a{
  /*visibility: hidden;*/
  text-decoration: none;
}
.cteff01{
  visibility: hidden;
}


h2.bitembtmline{
  position: relative;
  font-family: 'Arbutus Slab';
  color: #2c3e50;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0;
}
h2.bitembtmline:after{
    content: '';
    height: 2px;
    background-color: #2980b9;
    position: absolute;
    bottom: 0px;
    width: 20%;
    left: 40%;
}
.itemwrap{
  text-align: center;
  min-height: 200px;
/*visibility: hidden;*/
}
.itemwrap img{
  height: 130px;
  margin-bottom: 20px;
}
.itemtwo{
  margin-top: 64px;
}
.itemthree{
  margin-top: 90px;
}
.itemprice{
  display: block;
  position: absolute;
  top: 80%;
  left: 40%;
  color: #b12704;
  background: transparent;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.itemhover{
  color: #205275;
  padding: 18px 10px;
  font-weight: bold;
}
.itemwrap:hover .itemhover .itemprice{
  display: block;
  top: 126px;
  opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.itemwrap:hover .itemhover{
  background: url(../images/menu_hover.png)no-repeat center; 
}
.itemreadmore{
  display: inline-block;
  padding: 20px 0px;
  background: url(../images/menu_hover.png)no-repeat center;
}
.itemreadmore a{
  color: #000;
  text-decoration: none;
}
.itemreadmore a:hover {
  color: #23527c;
}
#brand{
  background: #ccc url(../images/bluepanel2.jpg)no-repeat;
  position: relative;
  background-size: cover;
  min-height: 300px;
}
.brandimgcurve{
  position: absolute;
  top: 0;
}
#brand:after{
  background-image: url(../images/footer_brush.png);
  background-repeat: repeat-x;
  width: 100%;
  content: '';
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  height: 56px;
  z-index: 16;
  display: block;
  overflow: hidden;
}
.brandlogo{
  width: 100%;
  list-style-type: none;
}
.brandlogo li{
  float: left;
  width: 30%;
  border: 0.5px solid #e3e3e3;
  display: inline-block;
}
.brandwrap{
  margin-top: 100px;
  margin-bottom: 100px;
}
.tbrand{
  float: right;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -2px 0px 6px #000;
  margin-top: 0px;
  text-align: right;
}
.tbrand h2{
  color: #fff;
  font-weight: 400;
  padding-bottom: 14px;
  font-family: 'Arbutus Slab';
  margin-top: 0px;
  margin-bottom: 20px;
}
.brandreadmore{
  display: inline-block;
  padding: 20px 0px;
  background: url(../images/menu_hover.png)no-repeat center;
}
.brandreadmore a{
  color: #fff;
  text-decoration: none;
}


/*
 *******************
 * = Contact us
 *******************
*/
h1.contactbtmline{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Arbutus Slab';
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px #000;
}
.bannertitle{
  /*position: relative;*/
  padding-top: 40px;
}
.breadcrumb{
  background: transparent;
  color: #fff;
  text-shadow: 0px 4px 4px #000;
  margin-bottom: 0;
}
.breadcrumb a span{
  color: #fff;
}
.breadcrumb a{
  text-decoration: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], input[type="search"], textarea, input.text {
    border-radius: 5px;
    border: 1px solid #d7dce2;
    color: #ccc;
    display: inline-block;
    font-size: 15px;
    margin: 10px 0;
    background-color: #fff;
    padding: 12px 17px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Open Sans', sans-serif;
}

input[type="submit"], input[type="reset"], input[type="button"], button.button {
    float: left;
    margin: 10px 0 0 0;
    padding: 16px 20px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #175f8e, #0494c5);
    background: -o-linear-gradient(left, #175f8e, #0494c5);
    background: -moz-linear-gradient(left, #175f8e, #0494c5);
    background: linear-gradient(to right, #175f8e, #0494c5);
    color: #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0494c5', endColorstr='#175f8e',GradientType=1 );
    cursor: pointer;
}
input[type=submit] {
    float: right;
    width: 100%;
}
input[type="submit"]:hover{
    background: -webkit-linear-gradient(left, #0494c5, #0494c5);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: -o-linear-gradient(left, #0494c5, #0494c5);
    background: -moz-linear-gradient(left, #0494c5, #0494c5);
    background: linear-gradient(to right, #1a5569, #0494c5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0494c5', endColorstr='#0494c5',GradientType=1 );
}

/*
 *******************
 * = hehe
 *******************
*/


#archiveproduct{
  background: url(../images/dots_pattern.png)repeat;
  background-position: center;
  background-color: #fff;
  /*min-height: 510px;*/
 
}
/*----*****---- << Portfolio >> ----*****----*/
  
  .portfolio{
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }
  .portfolio-container{ float:left;padding-top: 40px;padding-bottom: 40px;width:100%; position: relative; overflow: hidden; }
  .portfolio.column { margin-left: 0;  margin-right: 0; }
  /*.portfolio.column.dt-sc-one-fourth { width:24.9%; }   */
  .portfolio.column.dt-sc-one-third { width:33.3%; }  
  .portfolio.column.dt-sc-one-half { width:49.9%; }
  
  .sorting-container { float: left; text-align: center; width: 100%; }
  
  .sorting-container a { border: 1px solid #ededed; border-right: none; cursor: pointer; display: inline-block; line-height: 40px; margin: 0 -1px 0 -4px; padding: 0 14px; position: relative; color:#333; }
  .sorting-container a:first-child { border-radius: 4px 0 0 4px; }
  .sorting-container a:last-child { border-radius: 0 4px 4px 0; border-right: 1px solid #ededed; }
  .sorting-container a:hover:before, .sorting-container a.active-sort:before, .sorting-container a.active-sort:after { transform: scale3d(1, 1, 1); -moz-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); -o-transform: scale3d(1, 1, 1); -webkit-transform: scale3d(1, 1, 1); }
.sorting-container a:before, .sorting-container a:after { bottom: 0; content: ""; height: 100%; left: 0; position: absolute; transform: scale3d(0, 1, 1); -moz-transform: scale3d(0, 1, 1); -ms-transform: scale3d(0, 1, 1); -o-transform: scale3d(0, 1, 1); -webkit-transform: scale3d(0, 1, 1); transform-origin: left center 0; -moz-transform-origin: left center 0; -ms-transform-origin: left center 0; -o-transform-origin: left center 0; -webkit-transform-origin: left center 0; transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; -moz-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; -ms-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; -o-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; width: 100%; z-index: -1; }
.sorting-container a:before { background-color: rgba(225, 48, 167, 0.1); }

  .ie9 .sorting-container a:before { display:none; }
  .ie9 .sorting-container a { margin-left:-3px; }
  
  .portfolio figure img { transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); -webkit-transform: scale(1); transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; width: 100%; display:inherit; }
  .portfolio figure:hover img { transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); -webkit-transform: scale(1.2); }
  .portfolio figure, .portfolio { overflow: hidden; }
  .portfolio figure { position:relative; }
  .portfolio .fig-content-wrapper { display: table; height: 100%; width: 100%; }
  .portfolio figcaption .fig-content { display: table-cell; vertical-align: middle; }
  .portfolio figcaption h5 { font-size: 18px; font-weight: 600; margin-bottom: 5px; text-transform: uppercase; }
  .portfolio.dt-sc-one-fourth figcaption h5 { font-size: 15px; }
  .page-template-tpl-fullwidth .portfolio.dt-sc-one-fourth figcaption h5 { font-size: 17px; }
  .portfolio figcaption .fig-content > p { margin-bottom: 0; }
  .sorting-container a.active-sort { color: #fff; }
  .portfolio figcaption h5 a, .portfolio figcaption p a, .portfolio figcaption p { color: rgba(255, 255, 255, 0.8); }
  .portfolio figcaption h5 a:hover, .portfolio figcaption p a:hover, .portfolio .fig-content a:hover { color: rgba(255, 255, 255, 1); }
  
  .portfolio .fig-overlay a:hover { background-color: rgba(0, 0, 0, 0.2); border-color: #fff; }
  
  .portfolio .fig-overlay { display: inline-block; margin-top: 25px; }
  .portfolio .fig-overlay a { border: 2px solid rgba(255, 255, 255, 0.8); color: rgba(255, 255, 255, 0.8); display: inline-block; float: left; font-size: 18px; height: 48px; line-height: 46px; margin: 0 5px; text-align: center; width: 48px; border-radius: 50%; }

  .portfolio figcaption { bottom: auto; float: left; height: 100%; opacity: 0; position: absolute; text-align: center; top: 0; transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); -webkit-transform: translateY(100%); transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s; -moz-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s; -ms-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s; -o-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s; -webkit-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s; vertical-align: middle; width: 100%; }
  
  .portfolio figure:hover figcaption, .portfolio figure.cs-hover figcaption { opacity: 1; transition: all 0.4s ease-in-out 0s, opacity 0.1s ease 0s; -moz-transition: all 0.4s ease-in-out 0s, opacity 0.1s ease 0s; -ms-transition: all 0.4s ease-in-out 0s, opacity 0.1s ease 0s; -o-transition: all 0.4s ease-in-out 0s, opacity 0.1s ease 0s; -webkit-transition: all 0.4s ease-in-out 0s, opacity 0.1s ease 0s; transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); -webkit-transform: translateY(0px); }
  
  .page-with-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { width:38px; height:38px; line-height:34px; font-size:14px; }
  .page-with-sidebar .portfolio.dt-sc-one-fourth .fig-overlay { margin-top:10px; }

  .portfolio-container.type3 .portfolio figcaption { transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; }
  
  .portfolio-container.type2 .portfolio figcaption { transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; }
  
  .portfolio-container.type2 .portfolio .fig-overlay a { background: rgba(255, 255, 255, 0.35); border: medium none; border-radius: 50%; font-size: 20px; height: 50px; line-height: 50px; margin: 0 5px; opacity: 0; position: relative; top: -58px; width: 50px; }
  .portfolio-container.type2 .portfolio.dt-sc-one-fourth .fig-overlay a { font-size: 16px; height: 40px; line-height: 40px; width: 40px; }
  .page-template-tpl-fullwidth .portfolio-container.type2 .portfolio.dt-sc-one-fourth .fig-overlay a { font-size: 20px; height: 50px; line-height: 50px; width: 50px; }
  .portfolio-container.type2 .portfolio figure:hover .fig-overlay a { opacity: 1; top: 0; }   
  
  .portfolio-container.type2 .portfolio figure:hover figcaption h5, .portfolio-container.type2 .portfolio figure:hover figcaption p { opacity: 1; top: 0; }
  .portfolio-container.type2 .portfolio figcaption h5, .portfolio-container.type2 .portfolio figcaption p { opacity: 0; position: relative; top: 70px; }
  .portfolio-container.type2 .portfolio .fig-overlay a:hover, .portfolio-container.type3 .portfolio .fig-overlay a:hover { background: rgba(0, 0, 0, 0.45); }
  
  .portfolio-container.type2 .portfolio figure img, .portfolio-container.type3 .portfolio figure img, .portfolio-container.type2 .portfolio .fig-overlay a, .portfolio-container.type2 .portfolio figcaption h5, .portfolio-container.type2 .portfolio figcaption p, .portfolio-container.type3 figure figcaption h5, .portfolio-container.type3 figure figcaption p, .portfolio-container.type3 .portfolio .fig-overlay a, .portfolio-container.type3 .portfolio figure:hover .fig-overlay a.link { transition: all 0.9s ease 0s; -moz-transition: all 0.9s ease 0s; -ms-transition: all 0.9s ease 0s; -o-transition: all 0.9s ease 0s; -webkit-transition: all 0.9s ease 0s; }
  .portfolio-container.type2 .portfolio figure:hover .fig-overlay a.link, .portfolio-container.type3 .portfolio figure:hover .fig-overlay a.link { transition-delay: 300ms; -moz-transition-delay: 300ms; -ms-transition-delay: 300ms; -o-transition-delay: 300ms; -webkit-transition-delay: 300ms; }
  
  .portfolio-container.type2 .portfolio .fig-content-wrapper { position:relative; z-index:1; }
  .portfolio-container.type2 .portfolio figcaption:after { 
    border-left: 2px solid #00d39f;
    border-right: 2px solid #009ece; 
    background-image: linear-gradient(to right, #00d39f 0%, #009ece 100%), linear-gradient(to right, #00d39f 0%, #009ece 100%);  
    background-image: -webkit-linear-gradient(left, #00d39f 0%, #009ece 100%), -webkit-linear-gradient(left, #00d39f 0%, #009ece 100%);  
    background-image: -moz-linear-gradient(left, #00d39f 0%, #009ece 100%), -moz-linear-gradient(left, #00d39f 0%, #009ece 100%);
    background-image: -o-linear-gradient(left, #00d39f 0%, #009ece 100%), -o-linear-gradient(left, #00d39f 0%, #009ece 100%); 
    background-image: -ms-linear-gradient(left, #00d39f 0%, #009ece 100%), -ms-linear-gradient(left, #00d39f 0%, #009ece 100%); 
    background-position: 0 0px, 0 100%; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d39f', endColorstr='#009ece',GradientType=1 ); /* IE6-9 */ background-repeat: no-repeat; background-size: 100% 2px; -webkit-transition:all 300ms linear 0s; -moz-transition:all 300ms linear 0s; -o-transition:all 300ms linear 0s; -ms-transition:all 300ms linear 0s; transition:all 300ms linear 0s; bottom: 15px; content: ""; display: block; left: 15px; position: absolute; right: 15px; top: 15px; z-index:0; opacity:0; }  
  
  .ie9 .portfolio-container.type2 .portfolio figcaption:after { border:2px solid #fa3b98; }
  
  .portfolio-container.type2 .portfolio:hover figcaption:after { opacity:1; transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; -webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; } 
  .portfolio-container.type2 .portfolio figcaption { background-color: rgba(0, 0, 0, 0.5) !important; }
  
  .portfolio-container.type3 .portfolio figcaption .fig-content, .portfolio-container.type3 .portfolio figure .fig-overlay { display: inline; }
  .portfolio-container.type3 .portfolio figure figcaption h5:before { background: #fff; content: ""; height: 50px; left: -15px; position: absolute; top: 0; width: 5px; }
  .portfolio-container.type3 .portfolio figure:hover figcaption h5, .portfolio-container.type3 figure:hover figcaption p { left: 30px; opacity: 1; }
  .portfolio-container.type3 .portfolio figure figcaption h5 { font-size: 15px; }
  .portfolio-container.type3 .portfolio figure figcaption h5, .portfolio-container.type3 figure figcaption p { left: -50px; opacity: 0; position: relative; text-align: left; top: 40px; }
   
  .portfolio-container.type3 .portfolio .fig-overlay a { background: rgba(255, 255, 255, 0.35); border: medium none; border-radius: 50%; font-size: 24px; height: 60px; line-height: 60px; width: 60px; bottom: 20px; right: 10px; position: absolute; }
  .portfolio-container.type3 .portfolio figure:hover .fig-overlay { right: 10px; opacity: 1; transition: all 0.9s ease 300ms; -moz-transition: all 0.9s ease 300ms; -ms-transition: all 0.9s ease 300ms; -o-transition: all 0.9s ease 300ms; -webkit-transition: all 0.9s ease 300ms; }
  
  .portfolio-container.type3 .portfolio figure:hover .fig-overlay a.link { right: 10px; }
  .portfolio-container.type3 .portfolio figure:hover .fig-overlay a { right: 80px; }
  .portfolio-container.type3 .portfolio .fig-overlay a { bottom: 20px; right: -140px; position: absolute; }
  
  .post-nav-container { border-bottom: 1px solid #eceeeb; border-top: 1px solid #eceeeb; display: inline-block; margin: 0; padding: 10px 0; width: 100%; }
  .post-nav-container a i { font-size: 16px; }
  .post-nav-container .post-prev-link { float: left; }
  .post-nav-container .post-next-link { float: right; text-align: right; }
  .post-nav-container .post-next-link a i { padding-left: 10px; }
  .post-nav-container .post-prev-link a i { padding-right: 10px; }
  
  .isotope, .isotope .isotope-item { transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; -webkit-transition-duration: 0.8s; }
  
  .gallery-single .project-details h6 { border-bottom: 2px solid #f1f1f1; padding-bottom: 6px; font-weight: normal; }
  .gallery-single #comments.commententries h4 { margin-bottom: 30px; }
  
  ul.client-details li i, ul.client-details li span { padding-right: 10px; }
  .single-product ul.client-details li p { margin: 0; }

  .column.right-gallery { float: right; }
  
  .portfolio-carousel-wrapper { position: relative; }
  
  .recent-gallery-container ul.recent-gallery li { padding: 0; line-height: 0; }
  
  .dt-sc-button.portfolio-load-more { margin-top: 40px; padding: 14px 30px; }
  .portfolio-load-more-container { background: #fddd00; display: inline-block; text-align: center; width: 100%; }
  .portfolio-load-more-container .dt-sc-button.portfolio-load-more:after { content: none; }
  .portfolio-load-more-container .dt-sc-button.portfolio-load-more { margin: 0; padding: 30px 0 35px; text-transform: capitalize; font-size: 18px; border-bottom: 2px solid #000; color: #000; border-radius: 0; font-weight: normal; border: none; width: 100%; }
  .portfolio-load-more-container .dt-sc-button.portfolio-load-more:hover { color: #fff; border-color: #fff; }
  
  .portfolio-load-more-container:hover { background-color: #eec106; }
  .portfolio-load-more-container .dt-sc-button.portfolio-load-more:before { background: #000; bottom: 30px; content: ""; height: 2px; left: 0; margin: 0 auto; position: absolute;     right: 0; width: 100px; }
  .portfolio-load-more-container:hover .dt-sc-button.portfolio-load-more:before { background: #fff; }
  .portfolio-load-more-container:hover .dt-sc-button.portfolio-load-more { color: #fff; }
  
  ul.client-details, ul.client-details li p { margin: 0; }
  ul.client-details li:last-child { padding: 0; }

/*.......... brand page .........*/

.myanmar-title {
  font-size: 16px;
  font-family: 'Zawgyi-One';
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-wrapper {
  margin-top: 50px;
  margin-bottom: 50px; 
  float: left;
  width: 100%;
  min-height: 400px;
}
#brand-list .portfolio {
  position: relative;
  box-shadow: 0px 1px 8px 0px rgba(10, 54, 80, 0.76);
}
#brand-list .portfolio figcaption {
  background: rgba(17, 51, 77, 0.9);
}
#brand-list .portfolio .fig-overlay {
  margin-top: 0px;
}
h3.brand-title {
  right: 0px;
  bottom: 10px;
  position: absolute;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 1px 5px #2d2d2d;
  border-bottom: 2px solid #051f31;
  width: 80%;
  background: rgba(17, 51, 77, 0.78);
  padding: 6px;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 1000;
  padding-left: 15px;
}
h3.brand-title a {
  color: #fff;
}
h3.brand-title a:hover {
  text-decoration: none;
}
#category-list h3.brand-title {
  left: 52px;
  padding: 8px;
  border-bottom: 2px solid #213c4f;
  background: rgba(97, 134, 163, 0.78);
}
.content-wrapper {
  width: 100%;
  min-height: 400px;
}
.content-box {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 400px;
}
.product-price {
  color: #555;
  width: 100%;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.detail-box h2 {
  color: #205275;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px dashed #205275;
}
.benefit-box {
  margin-right: -30px;
}
#myanmar-box .benefit-box {
  margin-right: 0px;
}
.benefit-title {
  color: #205275;
  padding-bottom: 20px;
  margin: 20px 0px;
  font-weight: bold;
  border-bottom: 3px solid #9fbac8;
  text-transform: uppercase;
}
.benefit-box li {
  color: #555;
  font-weight: 600;
  font-size: 15px;
  list-style-type: none;
  padding: 5px 0px;
  list-style-position: inside; 
  line-height: 1.8;
}
.benefit-box li:before {
  color: #00d85f;
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
}
.filter-box {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
}
.filter-box h3 {
  color: #000;
  padding-bottom: 20px;
  margin: 0px 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.summary-box {
  width: 100%;
  margin-top: 10px;
}
.filter-box ul.logo-list {
  margin-bottom: 0px;
}
#gallery-slider {
  border: 5px solid #9fbac8;
}
#gallery-slider .carousel-indicators {
  bottom: 10px;
}
ul.logo-list {
  width: 100%;
  margin-bottom: 30px;
}
ul.logo-list li {
  display: inline-block;
  list-style-position: inside;
  margin-right: 10px;
  padding: 10px 30px;
  box-shadow: 0px 1px 3px 0px #777;
  background: linear-gradient(to right, #0395c6, #156497);
  transition: opacity 0.5s ease-in-out;
  min-width: 160px;
  border-radius: 45%;
  margin-bottom: 10px;
}
ul.logo-list li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
ul.logo-list li:hover {
  box-shadow: 2px 2px 5px 0px #555;
  background: linear-gradient(to right, #0395c6, #0c4163);
}
a.full-link {
  width: auto;
  display: inline-block;
}
div.pp_default .pp_description {
  font-size: 14px;
}
#paging-link {
  width: auto;
  display: inline-block;
  margin: 20px auto;
}
#paging-link .page-numbers {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #555;
  background-color: #ddd;
  text-decoration: none;
  font-family: 'Montserrat';
  transition: all 0.3s ease-out;
}
#paging-link .page-numbers:hover {
  color: #ffffff;
  background-color: #555;
}
#paging-link .page-numbers.current {
  color: #fff;
  background-color: #555;
}
.soliloquy-container .soliloquy-image{
  width: 100% !important;
}
.imgcurve{
  position: absolute !important;
  bottom: 0;
}
.soliloquy-container .soliloquy-viewport{
  position: relative !important;
  display: block !important;
}
.soliloquy-viewport ul li img{
  width: 100%;
}
.soliloquy-pager{
  display: none;
}
#welcomemsg{
  position: relative;
}
#welcome p {
  color: #1d1d1d;
  font-size: 14px;
}
.welcomemsgwrap{
    text-align: center;
    position: absolute;
    top: 200px;
    margin-right: 20%;
    right: 0;
    /*background: rgba(0,0,0,0.3);*/
    /*padding: 20px;*/
}

.welcomemsgtitle{
    position: relative;
    font-family: 'Montserrat';
    color: #fff;
    display: inline-block;
    font-size: 50px;
    margin-right: 20px;
    text-transform: uppercase;
        text-shadow: 0px 4px 0px #2d3543;
}
#welcomemsg span{
     font-family: 'Montserrat';
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
}
.vproduct{
  float: left;
  padding: 10px 40px;
  color: #fff;
  font-size: 20px;
  text-align: left;
      text-shadow: 0px 4px 0px #2d3543;
}
.welcomemsgwrap a:hover{
  color: #fff;
}
.welcomemsgwrap a{
  text-decoration: none;
  background: url(../images/menu_hover.png)no-repeat;
}
#welcomemsg span.vp{
    position: relative;
    font-family: 'Montserrat';
    color: #fff;
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
    text-shadow: 0px 4px 0px #2d3543;
}
.ordernow{
  color: #fff;
  float: left;
  font-size: 20px;
  padding: 10px 40px;
  text-shadow: 0px 4px 0px #2d3543;
  text-align: left;
}

#welcomemsg span.odn{
      text-shadow: 0px 4px 0px #2d3543;
  font-size: 30px;

}

/*
 *******************
 * = Taxo category
 *******************
*/

.prodcatewrap{
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}

.serviceinfowrap{
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

.catalogwrap{
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
}

.ctitle a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.ctitle a{
    padding: 20px 40px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    z-index: 9;
    background-color: transparent;
    color: #000;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.catalogwrap:hover .ctitle a{
    -webkit-animation-name: pullUp;
    -moz-animation-name: pullUp;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -webkit-animation-timing-function: eaze-in-out;
    -moz-animation-timing-function: eaze-in-out;
    background: #2c3e50;
}
.catalogwrap:hover .ctitle>a{
  color: #fff;
}

.brandlogowrap{
    text-align: center;
    border-width: 0 1px 1px 0;
    border-style: dashed;
    border-color: #cccccc;
}
.brandlogowrap:nth-child(4){
  border-width: 0 0 1px 0;
}
.udline:last-child .brandlogowrap{
  border-width: 0 1px 0 0;
}

.icon-wrapper:hover {
    transform: matrix(1, 0, 0, 1, 0, -15.5);
    -webkit-transform: matrix(1, 0, 0, 1, 0, -15.5);
    -moz-transform: matrix(1, 0, 0, 1, 0, -15.5);
    -ms-transform: matrix(1, 0, 0, 1, 0, -15.5);
    -o-transform: matrix(1, 0, 0, 1, 0, -15.5);
}
.icon-wrapper{
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
}

.icon-wrapper {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: inherit;
    padding: 20px;
    /*margin-bottom: 5px;*/
}

.brandlogowrap:hover a.eff003 {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
    transform: matrix(1, 0, 0, 1, 0, -7.5);
    -webkit-transform: matrix(1, 0, 0, 1, 0, -7.5);
    -moz-transform: matrix(1, 0, 0, 1, 0, -7.5);
    -ms-transform: matrix(1, 0, 0, 1, 0, -7.5);
    -o-transform: matrix(1, 0, 0, 1, 0, -7.5);
}
.marginleft10{
  margin-left: 10px;
}

.brandlogowrap a.eff003 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    opacity: 0;
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s, all 300ms linear 0s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s, all 300ms linear 0s;
    transition: transform 0.4s, opacity 0.1s 0.3s, all 300ms linear 0s;
    color: #333;
    transform: matrix(1, 0, 0, 1, 0, 14.184);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 14.184);
    -moz-transform: matrix(1, 0, 0, 1, 0, 14.184);
    -ms-transform: matrix(1, 0, 0, 1, 0, 14.184);
    -o-transform: matrix(1, 0, 0, 1, 0, 14.184);
}
.contactformwrap{
  padding: 30px;
  position: relative;
  background-color: #fff;
}
.contactformwrap h2 {
  font-size: 26px;
  font-family: 'Arbutus Slab';
}
.contactformwrap:after {
    border-right: 30px solid #FFF;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    height: 0;
}
#hehehe:after {
    background-image: url(../images/footer_brush.png);
    background-repeat: repeat-x;
    width: 100%;
    content: '';
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    height: 56px;
    z-index: 16;
    display: block;
    overflow: hidden;
}
div.wpcf7-response-output{
  margin:10px;
  padding: 10px;
}

#servicepage .serviceinfowrap ul{
  list-style-type: none;
  list-style-position: inside;
}
#servicepage .serviceinfowrap ul li {
    display: block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 0 8px 30px;
    position: relative;
    font-weight: normal;
    clear: both;

}
#servicepage .serviceinfowrap ul li:before {
    content: "\f1fc";
    color: #555;
    font-family: fontawesome;
    font-weight: normal;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 16px;
}
/*
 *******************
 * = Footer
 *******************
*/

.copywrap{
	text-transform: uppercase;
	float: right;
	display: inline-block;
  margin-top: 30px;
	text-align: right;
}
.copywrap a {
  color: #2c2c2c;
}
.copywrap a:hover {
  color: #205275;
  text-decoration: none;
}
.addrwrap{
	text-transform: uppercase;
	float: left;
	text-align: left;
	display: inline-block;
  margin-top: 8px;
}
.socialwrap{
	display: inline-block;
	border: 1px solid #ccc;
  margin-top: 30px;
}
.facebook{
	padding: 4px 7px;
	border-right: 1px solid #ccc;
  color: #000;
}
.twitter{
    padding-right: 4px;
    color: #000;
}
.catawrapper{
  text-align: center;
  min-height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.catawrapper img{
  width: auto;
  height: 160px; 
  margin-top: 20px;
}
#googleMap{
  width: 100%;
}
.catawrapper:hover .itemhover .itemprice{
  display: block;
  top: 136px;
  opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.catawrapper .itemprice{
  display: block;
  position: absolute;
  top: 80%;
  left: 43%;
  background: transparent;
  font-weight: 700;
  color: #b12704;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Effect 16: fall down */
.falldown{
  text-align: center;
  margin-bottom: 20px;
}
.falldown a {
  color: #fff;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  font-family: 'Arbutus Slab';
  background: linear-gradient(to right, #0395c6, #156497);
  padding:8px 15px;
  border-radius: 5px;
}
.falldown a::before {
  color: #000;
  font-weight: 600;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.falldown a:hover{
  color: #000;
}
.falldown a:hover::before,
.falldown a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
.itemhover a{
  text-decoration: none;
  color: #000;
}
.fig-content a{
  text-decoration: none;
}

/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/

/*
==============================================
slideDown
==============================================
*/


.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  

  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }     
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}

/*
==============================================
slideUp
==============================================
*/


.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }     
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50%{
    transform: translateX(-8%);
  }
  65%{
    transform: translateX(4%);
  }
  80%{
    transform: translateX(-4%);
  }
  95%{
    transform: translateX(2%);
  }     
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50%{
    -webkit-transform: translateX(-8%);
  }
  65%{
    -webkit-transform: translateX(4%);
  }
  80%{
    -webkit-transform: translateX(-4%);
  }
  95%{
    -webkit-transform: translateX(2%);
  }     
  100% {
    -webkit-transform: translateX(0%);
  }
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  50%{
    transform: translateX(8%);
  }
  65%{
    transform: translateX(-4%);
  }
  80%{
    transform: translateX(4%);
  }
  95%{
    transform: translateX(-2%);
  }     
  100% {
    transform: translateX(0%);
  } 
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  65%{
    -webkit-transform: translateX(-4%);
  }
  80%{
    -webkit-transform: translateX(4%);
  }
  95%{
    -webkit-transform: translateX(-2%);
  }     
  100% {
    -webkit-transform: translateX(0%);
  }
}

/*
==============================================
slideExpandUp
==============================================
*/


.slideExpandUp{
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;  

  animation-duration: 1.6s; 
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease -out;

  visibility: visible !important; 
}

@keyframes slideExpandUp {
  0% {
    transform: translateY(100%) scaleX(0.5);
  }
  30%{
    transform: translateY(-8%) scaleX(0.5);
  } 
  40%{
    transform: translateY(2%) scaleX(0.5);
  }
  50%{
    transform: translateY(0%) scaleX(1.1);
  }
  60%{
    transform: translateY(0%) scaleX(0.9);    
  }
  70% {
    transform: translateY(0%) scaleX(1.05);
  }     
  80%{
    transform: translateY(0%) scaleX(0.95);   
  }
  90% {
    transform: translateY(0%) scaleX(1.02);
  } 
  100%{
    transform: translateY(0%) scaleX(1);    
  }
}

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5);
  }
  30%{
    -webkit-transform: translateY(-8%) scaleX(0.5);
  } 
  40%{
    -webkit-transform: translateY(2%) scaleX(0.5);
  }
  50%{
    -webkit-transform: translateY(0%) scaleX(1.1);
  }
  60%{
    -webkit-transform: translateY(0%) scaleX(0.9);    
  }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05);
  }     
  80%{
    -webkit-transform: translateY(0%) scaleX(0.95);   
  }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
  } 
  100%{
    -webkit-transform: translateY(0%) scaleX(1);    
  }
}

/*
==============================================
expandUp
==============================================
*/


.expandUp{
  animation-name: expandUp;
  -webkit-animation-name: expandUp; 

  animation-duration: 0.7s; 
  -webkit-animation-duration: 0.7s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;    

  visibility: visible !important; 
}

@keyframes expandUp {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60%{
    transform: translateY(-7%) scaleY(1.12);
  }
  75%{
    transform: translateY(3%);
  } 
  100% {
    transform: translateY(0%) scale(1) scaleY(1);
  } 
}

@-webkit-keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60%{
    -webkit-transform: translateY(-7%) scaleY(1.12);
  }
  75%{
    -webkit-transform: translateY(3%);
  } 
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1);
  } 
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}

/*
==============================================
expandOpen
==============================================
*/


.expandOpen{
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen; 

  animation-duration: 1.2s; 
  -webkit-animation-duration: 1.2s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  visibility: visible !important; 
}

@keyframes expandOpen {
  0% {
    transform: scale(1.8);    
  }
  50% {
    transform: scale(0.95);
  } 
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.98);
  } 
  100% {
    transform: scale(1);
  }     
}

@-webkit-keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8);    
  }
  50% {
    -webkit-transform: scale(0.95);
  } 
  80% {
    -webkit-transform: scale(1.05);
  }
  90% {
    -webkit-transform: scale(0.98);
  } 
  100% {
    -webkit-transform: scale(1);
  }         
}

/*
==============================================
bigEntrance
==============================================
*/


.bigEntrance{
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;  

  animation-duration: 1.6s; 
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  visibility: visible !important;     
}

@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);    
    opacity: 1;
  }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);   
    opacity: 1;
  } 
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);    
    opacity: 1;
  } 
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }   
}

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);    
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);   
    opacity: 1;
  } 
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);    
    opacity: 1;
  } 
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }       
}

/*
==============================================
hatch
==============================================
*/

.hatch{
  animation-name: hatch;
  -webkit-animation-name: hatch;  

  animation-duration: 2s; 
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%; 

  visibility: visible !important;   
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  } 
  65% {
    transform: rotate(1deg);
  } 
  80% {
    transform: rotate(-1deg);
  }   
  100% {
    transform: rotate(0deg);
  }                 
}

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  } 
  65% {
    -webkit-transform: rotate(1deg);
  } 
  80% {
    -webkit-transform: rotate(-1deg);
  }   
  100% {
    -webkit-transform: rotate(0deg);
  }   
}


/*
==============================================
bounce
==============================================
*/


.bounce{
  animation-name: bounce;
  -webkit-animation-name: bounce; 

  animation-duration: 1.6s; 
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;   
}

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6);
  }
  60%{
    transform: translateY(-100%) scaleY(1.1);
  }
  70%{
    transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }
  80%{
    transform: translateY(0%) scaleY(1.05) scaleX(1);
  } 
  90%{
    transform: translateY(0%) scaleY(0.95) scaleX(1);
  }       
  100%{
    transform: translateY(0%) scaleY(1) scaleX(1);
  } 
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6);
  }
  60%{
    -webkit-transform: translateY(-100%) scaleY(1.1);
  }
  70%{
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }
  80%{
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
  } 
  90%{
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
  }       
  100%{
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1);
  }   
}


/*
==============================================
pulse
==============================================
*/

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;   
  }
  50% {
    transform: scale(1);
    opacity: 1; 
  } 
  100% {
    transform: scale(0.9);
    opacity: 0.7; 
  }     
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;   
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; 
  }     
}

/*
==============================================
floating
==============================================
*/

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);  
  }
  50% {
    transform: translateY(8%);  
  } 
  100% {
    transform: translateY(0%);
  }     
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);  
  }
  50% {
    -webkit-transform: translateY(8%);  
  } 
  100% {
    -webkit-transform: translateY(0%);
  }     
}

/*
==============================================
tossing
==============================================
*/

.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;  

  animation-duration: 2.5s; 
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg); 
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg); 
  }           
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg); 
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg); 
  }       
}

/*
==============================================
pullUp
==============================================
*/

.pullUp{
  animation-name: pullUp;
  -webkit-animation-name: pullUp; 

  animation-duration: 1.1s; 
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;     
  visibility: visible !important;     
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }       
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }             
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }       
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }   
}

/*
==============================================
pullDown
==============================================
*/

.pullDown{
  animation-name: pullDown;
  -webkit-animation-name: pullDown; 

  animation-duration: 1.1s; 
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;     
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }       
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }             
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }       
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }   
}

/*
==============================================
stretchLeft
==============================================
*/

.stretchLeft{
  animation-name: stretchLeft;
  -webkit-animation-name: stretchLeft;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
  0% {
    transform: scaleX(0.3);
  }
  40% {
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }       
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }             
}

@-webkit-keyframes stretchLeft {
  0% {
    -webkit-transform: scaleX(0.3);
  }
  40% {
    -webkit-transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(0.98);
  }       
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
  }   
}

/*
==============================================
stretchRight
==============================================
*/

.stretchRight{
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;    
}

@keyframes stretchRight {
  0% {
    transform: scaleX(0.3);
  }
  40% {
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }       
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }             
}

@-webkit-keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(0.3);
  }
  40% {
    -webkit-transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(0.98);
  }       
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
  }   
}

@media (max-width: 1366px){
  .welcomemsgwrap{
    top: 100px;
  }
}
@media (max-width: 1200px){
  .catetitle{
      min-height: 124px;
    }
    .navbar-nav>li>a {
    padding: 20px 20px;
}
}
@media (max-width: 1024px){
 /* .navbar-nav>li>a {
      padding: 20px 20px;
  }*/
  h2.underline{
    font-size: 24px;
  }
  .catetitle {
    padding: 24px 12px;
    text-transform: capitalize;
    font-size: 14px;
  }
  .ctitle{
    margin: 0;
  }
  .welcomemsgwrap{
    top: 80px;
  }
  .welcomemsgtitle{
    font-size: 30px;
  }
  .vproduct{
        font-size: 14px;
  }
  #welcomemsg span.vp{
    font-size: 20px;
  }
  .ordernow{
    font-size: 14px; 
  }
  #welcomemsg span.odn{
    font-size: 20px;
  } 
}


/*.................Mobile menu css...................*/

#menu-mobile-menu{
    display: none;
}
   
@media(max-width: 991px) {
  .udline:last-child .brandlogowrap {
    border-width: 1px;
}
  .brandlogowrap:nth-child(4){
    border-width: 1px;
  }
  .brandlogowrap{
    border-width: 1px;
  }
  .catetitle{
      min-height: 90px;
    }
  .visible-xs{
    display: block !important;
  }
  .hidden-xs{
    display: none !important;
  }
    .nav-wrap{
      display: none;
    }
    .navbar-collapse.collapse {display: none !important;}
    .navbar-collapse.collapse.in {display: block !important;}
    .navbar-toggle {
    background: #205275;
    right: 0;
    top: 40px;
    position: absolute;
    display: block;
    }
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .mobile-menubar{
      display: block;
    }
    .navbar-nav > li > a {
      width: 100%;
    }
    .navbar-nav>li{
        float: none;
    }
    #menu-mobile-menu{
        display: block;
    }
    #mobile-menu ul{
        width: 100%;
    }
    .current-menu-item ,.navbar-nav>li>a:hover{
    background: #ccc !important;
  }
  .navbar-nav>li>a {
    padding: 10px 20px;
    font-size: 16px;
}
  .tbrand {
    float: none;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -2px 0px 6px #000;
    margin-top: 0px; 
    text-align: center;
  }
  .brandwrap{
    margin-top: 50px;
    margin-bottom: 50px;
  }
    .itemtwo,.itemthree{
    margin-top: 0;
        margin-bottom: 20px;
  }
  h2.bitembtmline{
    margin-bottom: 24px;
  }
}

@media(max-width: 768px) {

  .bannertitle {
    padding-top: 30px; 
  }
  .col-five{
    width: 33.333%;
    margin-bottom: 20px;
  }
  .marginleft16{
    margin-left: 16.6%;
  }
  .marginright16{
    margin-right: 16.6%;
  }
  .udline:last-child .brandlogowrap{
  border: none;
  }
  .brandlogowrap{
    border:none;
  }
  .navbar-collapse{
  padding-left: 0;
  padding-right: 0;
  }
  .navbar-nav{
    margin:0;
  }
  .current-menu-item ,.navbar-nav>li>a:hover{
    background: #ccc !important;
  }
  #menu-left,#menu-right{
    display: none;
  }
  .visible-xs{
    display: block !important;
  }
  #menu-mobile-menu{
      display: block;
  }
  #mobile-menu ul{
      width: 100%;
  }
  .navbar-nav>li>a {
  padding: 10px 20px;
  font-size: 16px;
  }
  .hidden-xs{
    display: none;
  }
  #category{
    min-height: 490px;
  }
  .welcomemsgwrap {
    top: 20%;
    margin-right: 10%;
  }
  .welcomemsgtitle {
    font-size: 22px;
  }
  #welcomemsg span {
    font-size: 12px;
  }
  .margintop50 {
    margin-top: 16px;
  }
  .vproduct {
    padding: 10px 0px;
    font-size: 14px;
  }
  #welcomemsg span.vp {
    font-size: 20px;
  }
  .ordernow {
    font-size: 14px;
    padding: 10px 0px;
  }
  #welcomemsg span.odn {
    font-size: 20px;
  }
  .itemtwo,.itemthree{
    margin-top: 0;
        margin-bottom: 20px;
  }
  .itemwrap .itemprice {
        left: 44%;
  }
  .tbrand {
    float: none;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -2px 0px 6px #000;
    margin-top: 0px; 
    text-align: center;
  }
  .brandwrap{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #gallery-slider img {
    width: 100%;
    height: auto;
  }
  .benefit-box {
    margin-right: 0px;
  }
  .order-img {
    display: none;
  }
  .categorywrap {
    margin-bottom: 20px;
  }
  .brandlogo li {
    width: 100%;
    margin-bottom: 20px;
  }

}

@media(max-width: 640px) {
  /*.col-five{
    width: 50%;
    margin-bottom: 20px;
  }*/
  .itemwrap .itemprice {
    left: 47%;
  }
  .cteff01{
        visibility: visible;
  }
  .welcomemsgwrap{
    display: none;
  }
  .catetitle{
        min-height: 68px;
      }
      .addrwrap {
      float: none; 
      text-align: center;
      width: 100%;
  }
  .copywrap {
      float: none;
      text-align: center;
      width: 100%;
  }
}

@media(max-width: 550px) {
  .prodmbile{
    width: 100%;
  }
  .mb100{
    width: 100%;
  }
  .otherprod{
    width: 100%;
  }
  .marginleft16{
    margin-left: 0;
  }
  .marginright16{
    margin-left: 25%;
  }
    .col-five{
    width: 50%;
    margin-bottom: 20px;
  }
}
@media(max-width: 480px) {
  .brandlogowrap{
    width: 100%;
  }
  h1.contactbtmline{
    font-size: 22px;
  }
  .margintop100{
  margin-top: 30px;
  }
  .brandlogo li{
    width: 33%;
  }
  .addrwrap {
      float: none; 
      text-align: center;
      width: 100%;
  }
  .copywrap {
      float: none;
      text-align: center;
      width: 100%;
  }
  /*#header:after{
    display: none;
  }*/
}
@media(max-width: 412px) {

  h2.bitembtmline ,.tbrand h2{
    font-size: 24px;
  }
  h2.categorybtmline{
    margin-top: 40px;
    font-size: 24px;
  }
  .brandlogo li{
    border: none;
  }
  .margintop60{
    margin-top: 20px;
  }
}
@media(max-width: 362px) {
  .catetitle {
    min-height: 90px;
}
}
@media(max-width: 320px) {
  .breadcrumb{
    font-size: 11px;
  }
  .catetitle {
    min-height: 30px;
  }
  .navbar-toggle {
    top: 88px;
    right: 0;
  }
  h2.underline {
    font-size: 20px;
}
.margintop60{
  margin-top: 30px;
}
  .col-five{
    width: 100%;
    margin-bottom: 20px;
  }
  .brandlogo li{
  width: 50%;
}
h1.contactbtmline,h2.categorybtmline,h2.bitembtmline,.tbrand h2{
  font-size: 20px;
}

.contactformwrap{
      padding: 15px 15px 15px 15px;
}
.tblock-title{
  font-size: 18px;
}
.dtls-li {
    width: 100%;
    padding: 0 15px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
}
}

